@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(119, 114, 114, 0.4);  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(119, 114, 114, 0.4); 
}


.add__button{
   animation-name: addProduct;
   animation-duration: .2s;
   animation-iteration-count: 1;
}


@keyframes addProduct {
    from {
        transform: translateY(0%);
      }
    
      to {
        transform: translateY(-50%);
      }
}
